body {
    font-family: 'Montserrat' !important;
    color: #272727;
}
#basic-setup {
    background: #fff;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../Image/home.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-title{
    font-weight: 700;
    font: Bold Montserrat;
}

nav{
    box-shadow: 0px 3px 6px #00000029;
    letter-spacing: 0.24px;
}
.contenu{
    text-align: left;
    padding-top: 25%;
    color: #FFFFFF !important;
}

.navbar-light .navbar-nav .nav-link {
    font: Bold 24px/29px; 
    letter-spacing: 0.24px;
    color: #414E97;
    opacity: 1;
    margin: 10px
}
.navbar-light .navbar-nav .nav-link:hover {
    font: Bold 24px/29px; 
    letter-spacing: 0.24px;
    color: #414E97;
    opacity: 1;
}


.btnhome{
    text-align: left;
    color: #FFFFFF !important;
}

.log_register{
    padding-top: 25%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 1000px;
}

.btn-success{
    background-color: #30BB8D;
}

.title_log_register{
    text-align: center;
    letter-spacing: 0px;
    color: #414E97;
    opacity: 1;
    margin-bottom: 42px;
}
.form_connect{
    margin: auto;
    width: 600px;
}
.radio-group
{
    margin-left: 35%;
}

.form_ctrl
{
    margin: auto;
    width: 500px;
    height: 50px;
    margin-bottom: 14px;
}
.form_reg
{
    height: 50px;
}

.btn-input{
    margin-top: 40px;
    height: 60px;
}

.btn-reg{
    background-color: #D8D8D8;
}