body {
    font-family: 'Montserrat';
    color: #272727;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 150px !important;
    padding-left: 180px !important;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    width: 167px;
    height: 42px;
    text-align: left;
    font: Bold 34px/42px Montserrat !important;
    letter-spacing: 0px;
    color: #414E97;
    opacity: 1;
}
#basic-setup {
    background: #fff;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../Image/home.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-title{
    width: 58%;
    font-weight: 900 !important;
    padding-bottom: 54px;
    letter-spacing: 0px;
    text-align: left;
    font: Bold 61px/82px Montserrat;
}

nav{
    box-shadow: 0px 3px 6px #00000029;
    letter-spacing: 0.24px;
}
.contenu{
    text-align: left;
    padding-top: 20%;
    color: #FFFFFF !important;
    padding-left: 35px !important;
}

.navbar-light .navbar-nav .nav-link {
    font: Bold 24px/29px Montserrat; 
    letter-spacing: 0.24px;
    color: #414E97;
    opacity: 1;
    margin: 10px
}
.na
{
    margin-top: 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
    font: Bold 24px/29px Montserrat; 
    letter-spacing: 0.24px;
    color: #414E97;
    opacity: 1;
}


.uppercase{
    text-transform: uppercase;
}

.color-red{
    background-color: #F54E4F;
    color: white;
}

.btnhome{
    
    font: Bold 24px/29px Montserrat; 
    text-align: left;
    color: #FFFFFF !important;
    border-radius: 8px;
    padding: 15px 30px !important;
}

/* animation css des buttons */
.btn
{
    display:block;
    position: relative;
    overflow: hidden;
    border: none !important;
    cursor: pointer;
    outline: none;
}



.btn .ripple{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    animation: ripple 1s ease-in-out;
}



@keyframes ripple{
    to{
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}


/* ----------------------------------- */

.log_register{
    padding-top: 25%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 1000px;
}

.btn-vrt{
    background-color: #30BB8D;
    color: white;
}

.btn-vrt:hover {
    color: #fff;
    background-color: #30BB8D;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}


.title_log_register{
    text-align: center;
    letter-spacing: 0px;
    color: #414E97;
    opacity: 1;
    margin-bottom: 42px;
}
.form_connect{
    margin: auto;
    width: 600px;
}
.radio-group
{
    margin-left: 35%;
}

.form_ctrl
{
    margin: auto;
    width: 500px;
    height: 50px;
    margin-bottom: 14px;
}
.form_reg
{
    height: 50px;
}

.btn-input{
    margin-top: 40px;
    height: 60px;
}

.btn-reg{
    background-color: #D8D8D8;
}

.etape{
    margin: auto;
    width: 500px;
    height: 600px;
}
.image-section {
    width: 100%;
    background-image: url('../Image/onboarding.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block-section{
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px 6px 0px 0px;
}

.block-img{
    margin: 10px 0 0 10px;
    width: 80px;
    height: 80px;
}

.block-title{
    margin:15px 0 0 10px !important;
    font: SemiBold 24px/29px Montserrat;
}


.block-title+b{
    font-size: 30px;
    font-weight: 900;
}
.block-progress{
    margin-bottom: 50px;
}

.snd-block-section{
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #D8D8D873;
    border-radius: 6px 6px 0px 0px;
}

.btn-block-section{
    margin-top: 20px !important;
}

.graph{
    width: 400px;
    height: 100px;
    margin: auto;
    background: rgb(151, 138, 138) 0% 0% no-repeat padding-box;
    border: 0.5px solid #D8D8D8;
    border-radius: 6px;
}

.align{
    width: 150px;
    margin:0 0 0 35% ;
}

.textC{
    text-align: center;
}

.panel-heading{
    width: 600px;
    height: 50px;
    padding: 15px 30px;
    background: #414E97 0% 0% no-repeat padding-box;
    border-radius: 6px 6px 0px 0px;
    color: white;
    opacity: 1;
}

.panel-body{
    width: 600px;
    margin-bottom: 15px;
    padding: 15px 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #D8D8D873;
    border-radius: 6px;
    opacity: 1;
}

.inputAutre{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.inputAutre:focus{
    background: transparent;
    border: none;
    border-bottom: 2px solid #414E97;
}

form{
    margin: 15px 0;
}

.dash{
    padding-top: 8%;
}
.dash a{
    margin-right: 8px;
}